@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
.navbar .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .navbar-brand span{
    color: black;
    transition: all 0.3s ease;
}
.nav-link{
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}
.jumbotron p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
}
.display-4{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
#galery{
    background-color: #e2edff;
}

section{
    padding-top: 5rem;
}